body{
    font-family: "Rubik", sans-serif;
}

.navbar{
    background-color:#e9e6ea;
}

.logo{
    padding-left: 5%;
}

.navdiv{
   margin-left: 22%;
}

.navdiv ul li{
    padding: 10px 13px;
    
}

@media (max-width:989px){
    .navdiv{
   margin-left: 0%;
}
}

.navdiv ul li a:hover{
    color:#fdc632;
}

form .form-control:focus {
    border-color: #fdc632 !important;
    box-shadow: 0 0 0 0.25rem rgba(253, 198, 50, 0.4) !important;
    outline: none !important;
}

form button:hover{
    background-color: #fdc632 !important; 
}

header{
    width: 100%;
    height: 110vh;
    background-image: url(images/home-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

header h3{
    font-size: 1.3rem;
    color: #002347;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

}

header h1{
    font-size: 2.6rem;
    color: #002347;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    

}

#button1{
    padding: 13px 30px;
    background-color: #002347;
    color: #fdc632;
    font-size: 0.9rem;
    font-weight: 900;
    border: 1px solid #002347;
    border-radius: 3px;
    transition: all 0.4s ease;
}

#button1:hover{
    background: transparent;
    color: #002347;
}

#button2{
    padding: 13px 30px;
    background-color: #fdc632;
    color: #002347;
    font-size: 0.9rem;
    font-weight: 900;
    border: 1px solid #fdc632;
    border-radius: 3px;
    transition: all 0.4s ease;
}

#button2:hover{
  background-color: #002347;
    color: #fdc632;
      border: 1px solid #002347;
}

@media (max-width:393px){
    .mainbutton{
   flex-direction: column;
   /* text-align: center;
   justify-content: center; */
    
}

  #button1{
     width: 70%;
     margin-left: 15%;
  }

  #button2{
     width: 70%;
     margin-left: 15%;
  }
}


.heading{
    font-size: 2.1rem;
    font-weight: 900;
    color: #002347;
    margin-top: 9%;
}

.para{
    font-size: 1rem;
    font-style: italic;
    color: #7b838a;
}

.maincard{
    padding-left: 4%;
    padding-right: 4%;
}

.maincard i{
    font-size: 4vw;
    color: #002347;
}

.maincard h3{
     font-size: 1.4rem;
     font-weight: 700;
     color: #002347;
}

.maincard p{
    color: #7b838a;
    
}

.minicard{
   background-color: #f9f9ff;
   transition: all 0.4s linear;
}

.minicard:hover{
   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
   transform: scale(1.02);
}



.boxdiv{
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 7%;
    padding-bottom: 8%;
    padding-right:7%;
}

.button3{
    background-color: #002347 !important;
    border: #002347;
    padding: 8px 20px;
    border-radius: 0%;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.heading3{
    color: #002347;
    font-weight: 700;
    padding-top: 8%;
    
}

.para3{
    color: #7b838a;
    padding-top: 2%;
}

.dollor{
    border: 1px solid #fdc632;
    background-color: #fdc632;
    color: #002347;
    width: 21%;
    height: 11vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.2rem;
    position: absolute;
    right: 3%;
    top: 45%;
    
}

.carddiv{
    
    overflow: hidden;
}

.carddiv:hover img{
    transform: scale(1.05);
    transition: 0.4s linear;
}

.carddiv:hover .heading3{
    color: #fdc632;
    transition: 0.4s linear;
}

.carddiv:hover .dollor{
    color: #fdc632;
    background-color: #002347;
    border: 1px solid #002347;
    transition: 0.4s linear;
}

.carddiv:hover{
     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    transition: 0.4s linear;
}


/* @media (max-width:728px){
.boxdiv{
   
    padding-left: 26%;
    padding-right:7%;
}
} */


.para4{
    font-weight: 800;
    font-size: 2.5rem;
}

.boxess{
        border: 1px solid rgba(255, 255, 255, 0.4);
    width: 22%;
    height: 18vh;
    background-color: #334f6c;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 900;
       
}



#forms input{
    
    margin-top: 2%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #7b838a;
}

#forms button{
   
    margin-top: 3%;

}